.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: yellow;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
  width: fit-content;
}
.name {
  text-align: center;
  width: 20em;
  font-family: "Noto Serif Old Uyghur", serif;
  color: #ffffff;
  font-family: "Noto Serif Old Uyghur", serif;
}
.card-image {
  object-fit: cover;
}
.Aboutus h2{
  text-align: center;
}
.name{
  text-align:justify;
  margin-right: 40px;
}
