body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background:white;
}

.sign-up-form{
    width:600px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
    background:seagreen;
    padding:20px;
    margin:8% auto 0;
    text-align:center;
    font-weight: 900;
}

.sign-up-form h1{
    margin-bottom:30px;
    color:white;
}

.input-box{
    border-radius:20px;
    padding:10px;
    margin:10px 0;
    width:100%;
    border:1px solid#999;
    outline:none;

}

button{
    color:black;
    width:100%;
    padding:10px;
    border-radius:20px;
    font-size:15px;
    margin:10px 0;
    border:none;
    outline:none;
    cursor:pointer;

}

.sign-up-btn{
    background-color:greenyellow;
    color: black;
    font-weight: 900;
}
.twitter-btn{
    background-color:white;

}
a{
    text-decoration:underline;

}

hr{
    margin-top:20px;
    width:80%;

}
.condition{
    color:white;
}
.or{
    background:seagreen;
    width:30px;
    color:white;
    margin:19px auto 10px;
}
.question a{
    color:white;
}
.question{
    color:white;
}