.howtouse {
  margin-left:-2px;
  margin-top:-2px;
  background-color: #001B18;
  display: grid;
  height: 80vh;
  grid-template-rows: 10vh 1fr;
  border-bottom: 1px solid gainsboro;
}
.head {
  font-family: 'Noto Serif Old Uyghur', serif;
  color:white;
  font-size: 3.2em;
  height: 2em;
  margin-top:0.5em;
  text-align: center;
}
.intro {
  color:#ffffff;
  font-family: 'Noto Serif Old Uyghur', serif;
  width: 90vh;
  margin-top: 16vh;
  height: 8em;
  margin-left:60px;
  font-size: 1.5em;
}
.boy {
    display: flex;
    margin-top:-21.8em;
    justify-self: flex-end;
    

  padding-right: 6em;
}
