.req{
    background-color: #000000;
    color:white;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#workers{
    color: #000000;
    font-weight: 900;
    margin-top:20px;
    height:28px;
    width:110px;
    border-radius: 12px;
}
.something{
    display: flex;
    flex-direction: column;
}
.req h3{
    color:white;
    margin-top:2px;
    font-weight: 900;
}
.req h5{
    color:white;
    margin-top:2px;
}